*{
	box-sizing: border-box;
}
body{
	background-image: url("icons/background.jpg");
	font-family: Arial, Helvetica;
	margin: 0;
}
.row1{
	background-color: white;
	color: black;
	text-align: center;
	width:320px;
	margin: auto;
	border-radius:25px;
	box-shadow:1px 1px 1px white;
}
.mainrow{
	padding: 16px;
	color:black;
	margin: auto;
	width:520px;
	background-color: #006699;
	border-radius:25px;
	box-shadow:0px 3px 12px white;
	position:relative;
	top:25px;
	text-align:center;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	padding: 30px;
	color: white;
	text-align: center;
}
@media screen and (max-width: 500px) {
.navbar a {
	float: none;
	display: block;
}